@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
/*variables*/
:root {
--font-family: "Roboto", sans-serif;
--normal-font: 400;
--bold-font: 700;
--bolder-font: 900;
--bg-color: #fcfcfc;
--prim-color: #4756df;
--sec-color: #ff7235; 
--prim-shadow:#8b8eaf ;
--sec-shadow:#a17a69 ;
--bottom-margin:0.5rem ;
--bottom-margin-2:1rem ;
--line-height:1.7rem ;
--transition: 0.3s;
}



html{

scroll-behavior: smooth;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
ul{
    list-style-type: none;
 }

a {
    text-decoration: none;
    color: var(--prim-color);
 }

a:hover{
    color: var(--sec-color); 
}

body{
    font-family: var(--font-family); 
    
}

nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1; /*ensures that the nav bar stays above other elements on the webpage*/
    display: flex; /*defines the nav bar as a flex container*/
    align-items: center;
    justify-content:space-between ;
    padding:1.5rem 3.5rem ;  
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);  
}

nav h1{
    color: var(--prim-color);
}

nav a{
    color: var(--prim-color);
    transition: var(--transition); 
}

nav a:hover{
    color: var(--sec-color); 
    border-bottom: 2px solid var(--sec-color); 
}

nav ul{
    display: flex;
    gap: 1.9rem;
}

nav ul li{
    font-weight: var(--bold-font); 
}

.burger-menu{
    color: var(--prim-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer; 
    display: none; 
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}
.hero img{
    height: 37.5rem;
    width: 37.5rem;
}
.bio{
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--prim-shadow);
}
.bio h2{
    margin-bottom:var(--bottom-margin);
}

.bio p{
    line-height: var(--line-height);
    padding: 0.3rem 0;
}
.skills{
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header{
    margin-bottom: 1rem;
}
.skills-wrapper img{
    padding: 0.5rem;
}
.icon{
    width: 6rem;
    height: 6rem;
}
.icon-card{
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 11px;
    box-shadow: 0 3px 10px var(--sec-shadow);
    padding: 20px;
    margin: 10px;
}
.icon-card:hover {
    transition: ease;
    transform: scale(1.08);
}
.projects{
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}
.project-pic{
    width: 65%;
    height: 60%;
}
.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-title{
    text-align: center;
    margin-bottom:1rem ;
}
.project-container{
    text-align: center;
    width: 21rem;
    padding: 1rem;
}
.project-container{
    padding: 0.4rem;
}
.project-title{
    margin-bottom:var(--bottom-margin) ;
}
.project-details{
    margin-bottom: var(--bottom-margin);
    font-size: 13px;
    color: rgb(103, 92, 92);
}
.project-link{
    margin: 20px;
    font-size: 13px;
}
.project-card{
    background-color:#fff ;
    border-radius: 11px;
    box-shadow:0 3px 10px var(--prim-shadow) ;
    padding: 20px;
    margin: 10px;
    transition:  all 0.25s ease;
}
.project-card:hover{
    background-color: rgba(185, 239, 240, 0.974) ;
    transform: scale(1.05);
}
.contact{
    margin-top: 2rem;
}
.contact h2{
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}
.contact-form-container{
    max-width: 41rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--sec-shadow);
}
.contact-form-container{
    line-height: 2.7rem;
    font-weight: var(--bold-font);
    color: var(--prim-color);
}
.contact-form-container textarea{
   min-height: 6.25rem;
   font-size: 14px;
}
.contact-form-container .input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: none;
    border: 2px outset var(--prim-color);
    font-size: 0.875rem;
    outline: none;
}
.input-field{
    resize: none;
}
.input-field::placeholder{
    padding: 0.5rem;
    color: dimgray;
}
.submit-btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: 10px 0;
    border: 2px solid var(--prim-color);
    border-radius:5px ;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition:var(--transition);
    color: grey ;
}
.submit-btn:hover{
    background-color: lightblue;
    border: none;
    cursor: pointer;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 2%;
    bottom: 50%;
    position: fixed;
    background-color: white;
    border: 2px solid grey;
    border-radius: 0.5rem;
    width: 2.5rem;
    height: 6rem;
}
.socicon{
    width: 2rem;
    height: 2rem;
}
.scroll-up{
    position: fixed;
    right: 2%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow{
    width: 2rem;
    height: 2rem;
    border: 2px solid grey;
    border-radius: 0.5rem;
    
}

@media screen and (max-width:720px){
    nav{
        padding: 1.5rem 1rem;
    }
    nav ul{
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }
    nav ul li{
        margin:2px; 
    }
    .burger-menu{
        display: block;
    }
    nav ul.show{
        transform: translateX(0);
    }
    .hero{
        margin-top: 1rem;
        flex-direction:column;
        gap: 5rem;
    }
    .hero img{
        height: 25rem;
        width: 25rem;
    }
    .hero p{
        font-size: 10px;
        line-height: 15px;
    }
    .bio{
        margin-top:-7rem ;
        width: 20.5rem;
    }
    .icon{
        width: 6rem;
        height: 6rem;
    }
    .projects-container{
        flex-direction: column;
    }
    .project-container{
        width: 21rem;
    }
    .contact-form-container{
        max-width: 24rem;
    }
    .project-details{
        font-size: 10px;
    }
    .project-link{
        font-size: 8px;
    }
}
@media screen and (max-width: 420px){
    .hero img{
        height: 20rem;
        width: 20rem;
    }
    .bio{
        width: 18rem;
    }
    .project-container{
        width: 18rem;
    }
    .contact-form-container{
        max-width: 18rem;
    }
}
.footer{
    margin: 15px 20px;
    border-top: solid .5px grey ; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p{
    margin: 5px;
    color: grey;
    font-size: 10px;
}